@media screen and (max-width: 1279px) {
	.content {
		max-width: 960px;
	}
	.inputWrapper {
		float: right;
	}
	.info {
		min-width: 374px;
		height: 408px;
		padding: 8px;
	}
	.dtlWrapper {
		height: auto;
		margin-bottom: 48px;
	}
	.temp {
		margin-bottom: 48px;
	}
}

@media screen and (max-width: 1023px) {
	body {
		padding: 24px;
	}
	.inputWrapper {
		width: 601px;
	}
	.content {
		max-width: 100%;
		width: 100%;
		height: auto;
	}
	.header {
		padding: 24px;
	}
	.headerLink {
		display: flex;
		align-items: center;
		height: 49px;
	}
	.weatherToday {
		display: flex;
		flex-direction: column;
		height: auto;
		align-items: center;
		justify-content: start;
		gap: 48px;
		padding: 24px;
	}
	.info {
		padding: 0 8px;
		width: 100%;
		height: auto;
	}
	.dtlWrapper {
		margin-bottom: 24px;
	}
	.temp {
		margin-bottom: 24px;
	}
	.location,
	.day,
	.weather {
		margin-bottom: 6px;
	}
	.cardsWrapper {
		gap: 12px;
		width: auto;
		max-height: 404px;
	}
	.card {
		width: 163px;
	}
	.slider,
	.footer {
		padding: 24px;
		height: auto;
	}
	.sliderMenu {
		margin-bottom: 24px;
	}
	.forecastContent {
		height: auto;
	}
	.forecastTab {
		margin-left: 24px;
	}
	.forecastList {
		margin: 0 24px;
		gap: 12px;
	}
}

@media screen and (max-width: 885px) {
	.inputWrapper {
		width: 483px;
	}
	.forecastList {
		width: 100%;
		margin: 0 24px;
		height: auto;
	}
	.forecastItem {
		width: 73px;
		height: auto;
		flex-direction: column;
	}
	#forecastList5days .forecastItem {
		min-width: 131px;
	}
}

@media screen and (max-width: 767px) {
	body {
		padding: 16px;
	}
	.header {
		padding: 16px;
	}
	.headerLink {
		width: 32px;
		height: 32px;
	}
	.inputWrapper {
		width: 409px;
		height: 32px;
	}
	.headerInput {
		font-size: 14px;
		line-height: 114%;
		padding: 8px 12px;
	}
	.searchIcon {
		width: 16px;
		height: 16px;
		top: 8px;
		right: 12px;
		background: url('/public/assets/images/svg/input/search-icon--mini.svg')
			no-repeat;
	}
	.weatherToday {
		padding: 16px;
		gap: 32px;
	}
	.dtlWrapper {
		height: 60px;
	}
	.dtlWrapper,
	.temp {
		margin-bottom: 16px;
	}
	.temp {
		font-size: 56px;
	}
	.location {
		font-size: 16px;
	}
	.weather {
		line-height: 114%;
		font-size: 14px;
		margin-bottom: 4px;
	}
	.feels {
		font-size: 14px;
		line-height: 114%;
	}
	.location,
	.day {
		margin-bottom: 4px;
	}
	.day,
	.time {
		font-size: 14px;
		line-height: 114%;
	}
	.icon-04d {
		width: 16px;
		height: 16px;
		margin-right: 4px;
	}
	.cardsWrapper {
		max-width: 400px;
		width: 100%;
		height: 304px;
		gap: 8px;
	}
	.card {
		width: 128px;
		height: 148px;
		padding: 12px;
	}
	.cardContent {
		height: 86px;
		margin-bottom: 12px;
	}
	.cardTitle {
		font-size: 12px;
		line-height: 133%;
		margin-bottom: 12px;
	}
	.cardIcon {
		width: 24px;
		height: 24px;
		margin-bottom: 12px;
	}
	.cardValue {
		font-size: 22px;
	}
	.cardFooter {
		height: 24px;
		font-size: 10px;
	}
	.progressBar {
		margin-bottom: 6px;
	}
	.progressBarBar {
		height: 6px;
	}
	.progressBarEllipse {
		width: 6px;
		height: 7px;
		box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.2);
	}
	/* progress-bar range positions */
	.progressBarRange:nth-child(1) {
		left: 50px;
	}
	.progressBarRange:nth-child(2) {
		left: 50px;
	}
	.progressBarRange:nth-child(3) {
		left: 17px;
	}
	.cardFooterHumidity {
		font-size: 10px;
		line-height: 120%;
	}
	.slider,
	.footer {
		padding: 16px;
	}
	.sliderMenu {
		margin-bottom: 16px;
	}
	.sliderTitle {
		font-size: 16px;
		line-height: 125%;
	}
	.forecastTab {
		width: 62px;
		height: 18px;
		font-size: 12px;
		line-height: 133%;
		margin-top: 4px;
		margin-left: 16px;
	}
	.forecastList {
		margin: 0 16px;
		gap: 8px;
	}
	.forecastItem {
		width: 55px;
		height: 104px;
		padding: 12px;
		gap: 12px;
	}
	#forecastList5days .forecastItem {
		min-width: 98px;
	}
	.forecastTime,
	.forecastTemp {
		font-size: 12px;
		line-height: 133%;
	}
	.forecastIcon {
		width: 24px;
		height: 24px;
	}
	.forecastBtn {
		width: 40px;
		height: 32px;
		padding: 8px 12px;
	}
	.btnIcon {
		display: block;
		width: 16px;
		height: 16px;
	}
	.footerText {
		font-size: 12px;
		line-height: 133%;
	}
	.forecastItem {
		width: 118px;
		height: 48px;
		flex-direction: row;
	}
	#forecastList5days .forecastItem {
		flex-direction: column;
		height: auto;
	}
}

@media screen and (max-width: 639px) {
	.inputWrapper {
		width: 263px;
		height: 32px;
	}
	.cardsWrapper {
		gap: 8px;
		width: auto;
	}
	.card {
		width: 98px;
	}
	.forecastItem {
		width: 55px;
		height: 104px;
		flex-direction: column;
	}
}
