.weatherToday {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  padding: 32px;
}

@media screen and (max-width: 1023px) {
  .weatherToday {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    padding: 24px;
  }
}

@media screen and (max-width: 767px) {
  .weatherToday {
    gap: 32px;
    padding: 16px;
  }
}
