.sliderMenu {
  display: block;
}

.sliderMenuWrap {
  display: flex;
  align-items: center;
  column-gap: 32px;
}

.sliderTitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.33;
}

.forecastTab {
  position: relative;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  color: var(--color-neutral-400);

  &.active {
    color: var(--color-neutral-100);
  }
}

.forecastTab:has(.forecastRadio:focus-visible) {
  outline-offset: 4px;
  outline: 2px solid Highlight;
}

.forecastTab::after {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 0;
  height: 2px;
  width: 0;
  border-radius: 8px;
  background-color: transparent;
}

.forecastTab.active::after {
  background-color: var(--color-neutral-100);
}

.forecastTab:has(.forecastRadio:checked)::after {
  animation: slide 1s forwards;
}

@keyframes slide {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@media (hover: hover) {
  .forecastTab:not(.active):hover {
    color: var(--color-neutral-400);
    &::after {
      background-color: var(--color-neutral-400);
      animation: slide 1s forwards;
    }
  }
}

@media screen and (max-width: 1023px) {
  .sliderMenuWrap {
    column-gap: 24px;
  }
}

@media screen and (max-width: 885px) {
  .forecastWrap {
    min-height: 136px;
  }
}

@media screen and (max-width: 767px) {
  .slider {
    row-gap: 16px;
    padding: 16px;
  }

  .sliderMenuWrap {
    column-gap: 16px;
  }

  .sliderTitle {
    font-size: 16px;
  }

  .forecastTab {
    font-size: 12px;
  }
}
