.footer {
  padding: 32px;
  color: var(--color-neutral-100);
}

.footerText {
  font-size: 16px;
  text-align: center;
}

.footerLink {
  position: relative;
  color: inherit;
  text-decoration: none;

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: var(--color-neutral-100);
  }
}

@media (hover: hover) {
  .footerLink:hover {
    opacity: 0.8;
  }
}

@media screen and (max-width: 1023px) {
  .footer {
    padding: 24px;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    padding: 16px;
  }

  .footerText {
    font-size: 12px;
  }
}
