.forecastItem {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  gap: 16px;
  border-radius: 8px;
  padding: 16px;
  font-size: 16px;
  line-height: 1.25;
  background-color: var(--color-neutral-tone100);
  color: var(--color-neutral-900);
}

@media screen and (max-width: 885px) {
  .forecastItem {
    flex-direction: column;
  }
}

@media screen and (max-width: 767px) {
  .forecastItem {
    flex-direction: row;
    gap: 12px;
    padding: 12px;
    font-size: 12px;
    line-height: 1.33;
  }

  .forecastIcon {
    width: 24px;
    height: 24px;
  }
}

@media screen and (max-width: 639px) {
  .forecastItem {
    flex-direction: column;
  }
}

.flip {
  -webkit-animation: flip-cards 0.9s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: flip-cards 0.9s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@-webkit-keyframes flip-cards {
  0% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
    opacity: 0;
  }

  100% {
    -webkit-transform: rotateX(-70deg);
    transform: rotateX(-70deg);
    opacity: 1;
  }
}

@keyframes flip-cards {
  0% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
    opacity: 1;
  }

  50% {
    -webkit-transform: rotateX(-70deg);
    transform: rotateX(-70deg);
    opacity: 0;
  }

  100% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
    opacity: 1;
  }
}
