.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  padding: 8px;
  text-align: center;
}

.infoWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 8px;
}

.location {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.33;
}

.temp {
  font-weight: 700;
  font-size: 112px;
  line-height: 1;
}

.weather {
  display: flex;
  align-items: center;
  justify-content: center;
}

.weatherIcon {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

@media screen and (max-width: 1023px) {
  .info {
    row-gap: 24px;
    padding: 0 8px;
  }

  .infoWrapper {
    row-gap: 6px;
  }
}

@media screen and (max-width: 767px) {
  .info {
    row-gap: 16px;
  }

  .infoWrapper {
    row-gap: 4px;
    font-size: 14px;
    line-height: 1.14;
  }

  .location {
    font-size: 16px;
    line-height: 1.25;
  }

  .temp {
    font-size: 56px;
  }

  .weatherIcon {
    width: 16px;
    height: 16px;
  }
}
