/* SLIDER */
.slider {
  /* width: 1120px; */
  width: 100%;
  height: 192px;
  padding: 32px;
}

.slider-menu {
  display: flex;
  margin-bottom: 32px;
}

.slider-title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 24px;
  line-height: 133%;
}

.forecast-tab {
  position: relative;
  width: 82px;
  height: 24px;
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  cursor: pointer;
  text-align: center;
  color: var(--forecast-text-color);
  background-color: transparent;
  border: 0;
  padding-bottom: 4px;
  margin-top: 8px;
  margin-left: 32px;
  transition: all 1s;
}
.forecast-tab:hover {
  color: var(--color-neutral-100);
}

.forecast-radio {
  display: none;
}

/* Forecast-tab--active */
.forecast-radio:checked + .forecast-tab {
  color: var(--color-neutral-100);
}

.forecast-tab::after {
  content: '';
  position: absolute;
  bottom: 0;
  height: 2px;
  border-radius: 8px;
  background-color: var(--color-neutral-100);
  opacity: 0;
  transition: all 1s;
}

/* Animation for 24h tab */
#tab-24h:checked + .forecast-tab::after {
  left: 0;
  right: auto;
  width: 0;
  opacity: 1;
  animation: slide 1s forwards;
}

.forecast-content {
  display: none;
  align-items: center;
}

#forecast-24h {
  display: flex;
}

/* Switch-content */
#tab-24h:checked ~ #forecast-24h,
#tab-5days:checked ~ #forecast-5days {
  display: flex;
}

/* Forecast-btns */
.forecast-btn {
  width: 56px;
  height: 48px;
  border: 0;
  cursor: pointer;
  opacity: 1;
  padding: 12px 16px;
  transform: rotate(180deg);
  border-radius: 8px;
  background: rgba(245, 244, 244, 0.4);
}
.forecast-btn:disabled {
  opacity: 0.4;
  cursor: default;
  pointer-events: none;
}
.forecast-btn:hover {
  background-color: #dadada;
}

#btn-right-24h .btn-icon,
#btn-right-5days .btn-icon {
  transform: rotate(180deg);
}

.forecast-list {
  max-width: 880px;
  height: 64px;
  display: flex;
  gap: 16px;
  list-style: none;
  margin: 0 32px;
  overflow: hidden;
  mask-image: linear-gradient(90deg, #000 95%, transparent 100%);
}

.forecast-item {
  width: 157px;
  height: 64px;
  border-radius: 8px;
  background: rgba(245, 244, 244, 0.4);
  padding: 16px;
  font-size: 16px;
  line-height: 125%;
  color: var(--color-neutral-900);
  display: flex;
  align-items: center;
  gap: 16px;
}

.flip {
  -webkit-animation: flip-cards 0.9s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: flip-cards 0.9s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

#forecast-list-5days .forecast-item {
  min-width: 275px;
}

/* Animation for 5 days tab */
#tab-5days:checked + .forecast-tab::after {
  right: 0;
  left: auto;
  width: 0;
  opacity: 1;
  animation: slide 1s forwards;
}

/* Keyframes for Slide animation */
@keyframes slide {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* Flip cards */
@-webkit-keyframes flip-cards {
  0% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotateX(-70deg);
    transform: rotateX(-70deg);
    opacity: 0;
  }
}

@keyframes flip-cards {
  0% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
    opacity: 1;
  }
  50% {
    -webkit-transform: rotateX(-70deg);
    transform: rotateX(-70deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
    opacity: 1;
  }
}
