.logoHeader {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  &:active {
    opacity: 0.6;
  }
}

.logo {
  width: 192px;
  height: 48px;
}

.mobile {
  display: none;
  width: auto;
}

@media (hover: hover) {
  .logoHeader:hover {
    opacity: 0.8;
  }
}

@media screen and (max-width: 1023px) {
  .mobile {
    display: block;
  }

  .desktop {
    display: none;
  }

  .logo {
    width: 54px;
    height: 48px;
  }
}

@media screen and (max-width: 767px) {
  .logo {
    width: 32px;
    height: 32px;
  }
}
