.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 32px;
}

/* SEARCH-INPUT */
.input-wrapper {
	position: relative;
	width: 506px;
	height: 48px;
	border-radius: 8px;
}

.search-icon {
	background: url('/public/assets/images/svg/input/search-icon.svg') no-repeat;
	width: 24px;
	height: 24px;
	position: absolute;
	right: 16px;
	top: 15px;
	cursor: pointer;
	z-index: 10;
	opacity: 0.8;
	border: none;
}

.search-icon:hover {
	opacity: 1;
}

.has-text .search-icon {
	background: url('/public/assets/images/svg/input/close-icon.svg') no-repeat;
}

@media screen and (max-width: 1279px) {
	.input-wrapper {
		float: right;
	}
}

@media screen and (max-width: 1023px) {
	.header {
		padding: 24px;
	}
	.input-wrapper {
		width: 601px;
	}
}

@media screen and (max-width: 885px) {
	.input-wrapper {
		width: 483px;
	}
}

@media screen and (max-width: 767px) {
	.header {
		padding: 16px;
	}
	.input-wrapper {
		width: 409px;
		height: 32px;
	}
	.search-icon {
		width: 16px;
		height: 16px;
		top: 8px;
		right: 12px;
		background: url('/public/assets/images/svg/input/search-icon--mini.svg')
			no-repeat;
	}
}

@media screen and (max-width: 639px) {
	.input-wrapper {
		width: 263px;
		height: 32px;
	}
}
