.slider {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  padding: 32px;
}

.sliderMenu {
  display: block;
}

.sliderMenuWrap {
  display: flex;
  align-items: center;
  column-gap: 32px;
}

.sliderTitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.33;
}

.forecastTab {
  position: relative;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  color: var(--color-neutral-400);

  &.active {
    color: var(--color-neutral-100);
  }
}

.forecastTab:has(.forecastRadio:focus-visible) {
  outline-offset: 4px;
  outline: 2px solid Highlight;
}

.forecastTab::after {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 0;
  height: 2px;
  width: 0;
  border-radius: 8px;
  background-color: transparent;
}

.forecastTab.active::after {
  background-color: var(--color-neutral-100);
}

.forecastTab:has(.forecastRadio:checked)::after {
  animation: slide 1s forwards;
}

.forecastBtn {
  display: flex;
  border: 0;
  cursor: pointer;
  padding: 12px 16px;
  border-radius: 8px;
  background-color: var(--color-neutral-tone100);
  color: var(--color-neutral-700);

  &:disabled {
    opacity: 0.4;
    cursor: not-allowed;
  }

  &:last-child {
    transform: rotate(180deg);
  }
}

.forecastContent {
  display: flex;
  align-items: center;
  column-gap: 32px;
}

.forecastWrap {
  position: relative;
  flex-grow: 1;
  overflow: hidden;
  min-height: 64px;
  mask-image: linear-gradient(90deg, #000 95%, transparent 100%);
}

.forecastList {
  display: flex;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  column-gap: 16px;
  list-style: none;
}

@keyframes slide {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@media (hover: hover) {
  .forecastTab:not(.active):hover {
    color: var(--color-neutral-400);
    &::after {
      background-color: var(--color-neutral-400);
      animation: slide 1s forwards;
    }
  }

  .forecastBtn:not(:disabled):hover {
    background-color: var(--color-neutral-200);
  }
}

@media screen and (max-width: 1023px) {
  .slider {
    row-gap: 24px;
    padding: 24px;
  }
  .sliderMenuWrap {
    column-gap: 24px;
  }
  .forecastContent {
    column-gap: 24px;
  }
  .forecastList {
    column-gap: 12px;
  }
}

@media screen and (max-width: 885px) {
  .forecastWrap {
    min-height: 136px;
  }
}

@media screen and (max-width: 767px) {
  .slider {
    row-gap: 16px;
    padding: 16px;
  }

  .sliderMenuWrap {
    column-gap: 16px;
  }

  .sliderTitle {
    font-size: 16px;
  }

  .forecastContent {
    column-gap: 16px;
  }

  .forecastTab {
    font-size: 12px;
  }

  .forecastBtn {
    padding: 8px 12px;
  }

  .forecastWrap {
    min-height: 46px;
  }
}

@media screen and (max-width: 639px) {
  .forecastWrap {
    min-height: 104px;
  }

  .forecastList {
    column-gap: 8px;
  }
}
