.card {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  width: 158px;
  /* height: 196px; */
  padding: 16px;
  border-radius: 8px;
  background: var(--color-neutral-tone100);
}

.cardContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 16px;
  /* height: 116px; */
}

.cardTitle {
  color: var(--color-neutral-900);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  /* line-height: 125%; */
  text-align: center;
  /* margin-bottom: 16px; */
}

.cardIcon {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 auto;
  /* margin-bottom: 16px; */
}

.cardValue {
  display: block;
  /* font-family: var(--font-family); */
  font-size: 32px;
  line-height: 1;
  /* text-align: center; */
  color: var(--color-neutral-900);
  /* margin-bottom: 16px; */
}

.cardFooter {
  display: flex;
  flex-direction: column;
  gap: 8px;
  /* height: 16px; */
  color: var(--color-neutral-800);
  font-size: 12px;
  /* line-height: 133%; */
  line-height: 1.33;
  text-align: center;
  /* font-family: var(--font-family); */
  /* font-weight: 400; */
  background-color: transparent;
}

.progressBar {
  position: relative;
}

.progressBarPressure {
  border-radius: 5px;
  background: radial-gradient(
    circle,
    rgba(84, 84, 84, 0.4),
    rgba(138, 138, 138, 0.4) 45.123%,
    rgb(218, 218, 218) 100%,
    rgba(218, 218, 218, 0.4) 100%
  );
}

.progressBarBar {
  display: block;
  /* width: 100%; */
  height: 8px;
  border-radius: 5px;
  transition: opacity 0.2s;
  background: rgba(218, 218, 218, 1);
  /* overflow: hidden; */
  /* margin-bottom: 8px; */
}

.progressBarEllipse {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: var(--color-neutral-100);
}

.cardFooterHumidity {
  display: flex;
  justify-content: space-between;
}

/* ---------------------- */

@media screen and (max-width: 1023px) {
  .card {
    width: 163px;
  }
}

@media screen and (max-width: 767px) {
  .card {
    row-gap: 12px;
    width: 128px;
    /* height: 148px; */
    padding: 12px;
  }

  .cardContent {
    row-gap: 12px;
    /* height: 86px; */
    /* margin-bottom: 12px; */
  }

  .cardTitle {
    font-size: 12px;
    line-height: 1.33;
    /* line-height: 133%; */
    /* margin-bottom: 12px; */
  }

  .cardIcon {
    width: 24px;
    height: 24px;
    /* margin-bottom: 12px; */
  }

  .cardValue {
    font-size: 22px;
  }

  .cardFooter {
    row-gap: 6px;
    /* height: 24px; */
    font-size: 10px;
  }

  .progressBar {
    /* margin-bottom: 6px; */
  }

  .progressBarBar {
    height: 6px;
  }

  .progressBarEllipse {
    width: 6px;
    height: 6px;
    /* box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.2); */
  }

  .cardFooterHumidity {
    font-size: 10px;
    /* line-height: 1.2; */
  }
}

@media screen and (max-width: 639px) {
  .card {
    width: 98px;
  }
}
