.card {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  width: 158px;
  padding: 16px;
  border-radius: 8px;
  background: var(--color-neutral-tone100);
}

.cardContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 16px;
}

.cardTitle {
  color: var(--color-neutral-900);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
}

.cardIcon {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 auto;
}

.cardValue {
  display: block;
  font-size: 32px;
  line-height: 1;
  color: var(--color-neutral-900);
}

.cardFooter {
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: var(--color-neutral-800);
  font-size: 12px;
  line-height: 1.33;
  text-align: center;
  background-color: transparent;
}

/* .progressBar {
  position: relative;
} */

/* .progressBarPressure {
  border-radius: 5px;
  background: radial-gradient(
    circle,
    rgba(84, 84, 84, 0.4),
    rgba(138, 138, 138, 0.4) 45.123%,
    rgb(218, 218, 218) 100%,
    rgba(218, 218, 218, 0.4) 100%
  );
} */

/* .progressBarBar {
  display: block;
  height: 8px;
  border-radius: 5px;
  transition: opacity 0.2s;
  background: rgba(218, 218, 218, 1);
  

} */

/* .progressBarEllipse {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: var(--color-neutral-100);
} */

.cardFooterHumidity {
  display: flex;
  justify-content: space-between;
}

.progressBar {
  position: relative;
  height: 8px;
}

.progressBarTrack {
  position: absolute;
  inset: 0;
  border-radius: 8px;
  background-color: transparent;
}

.progressBarFill {
  inset: 0;
  position: absolute;
  width: 100%;
  border-radius: 8px;
  background: var(--color-neutral-tone200);

  -webkit-mask-image: radial-gradient(
    circle 6px at var(--mask-position) 50%,
    transparent 98%,
    rgba(218, 218, 218, 0.4) 98%
  );
  mask-image: radial-gradient(
    circle 6px at var(--mask-position) 50%,
    transparent 98%,
    rgba(218, 218, 218, 0.4) 98%
  );

  &.pressure {
    background: radial-gradient(
      circle,
      rgba(84, 84, 84, 0.4),
      rgba(138, 138, 138, 0.4) 45.123%,
      rgb(218, 218, 218) 100%,
      rgba(218, 218, 218, 0.4) 100%
    );
  }
}

.progressBarEllipse {
  position: absolute;
  top: 50%;
  left: var(--mask-position);
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--color-neutral-100);
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 1023px) {
  .card {
    width: 163px;
  }
}

@media screen and (max-width: 767px) {
  .card {
    row-gap: 12px;
    width: 128px;
    padding: 12px;
  }

  .cardContent {
    row-gap: 12px;
  }

  .cardTitle {
    font-size: 12px;
    line-height: 1.33;
  }

  .cardIcon {
    width: 24px;
    height: 24px;
  }

  .cardValue {
    font-size: 22px;
  }

  .cardFooter {
    row-gap: 6px;
    font-size: 10px;
  }

  .progressBar {
    height: 6px;
  }

  .progressBarFill {
    -webkit-mask-image: radial-gradient(
      circle 6px at var(--mask-position) 50%,
      transparent 98%,
      rgba(218, 218, 218, 0.4) 98%
    );
    mask-image: radial-gradient(
      circle 6px at var(--mask-position) 50%,
      transparent 75%,
      rgba(218, 218, 218, 0.4) 75%
    );
  }

  .progressBarEllipse {
    width: 6px;
    height: 6px;
  }

  .cardFooterHumidity {
    font-size: 10px;
  }
}

@media screen and (max-width: 639px) {
  .card {
    width: 98px;
  }
}
